#EXTM3U

{{# EXT-X-INDEPENDENT-SEGMENT }}
#EXT-X-INDEPENDENT-SEGMENT
{{/ EXT-X-INDEPENDENT-SEGMENT }}
{{# EXT-X-START: }}
#EXT-X-START:{{ ATTRIBUTE }}
{{/ EXT-X-START }}

{{# EXT-X-SESSION-KEY: }}
#EXT-X-SESSION-KEY:{{ ATTRIBUTE }}
{{/ EXT-X-SESSION-KEY }}

{{# EXT-X-MEDIA: }}
#EXT-X-MEDIA:{{ ATTRIBUTE }}
{{/ EXT-X-MEDIA }}

{{# EXT-X-STREAM-INF: }}
#EXT-X-STREAM-INF:{{ ATTRIBUTE }}
{{/ EXT-X-STREAM-INF }}

{{# EXT-X-I-FRAME-STREAM-INF: }}
#EXT-X-I-FRAME-STREAM-INF:{{ ATTRIBUTE }}
{{/ EXT-X-I-FRAME-STREAM-INF }}

{{# EXT-X-SESSION-DATA: }}
#EXT-X-SESSION-DATA:{{ ATTRIBUTE }}
{{/ EXT-X-SESSION-DATA }}

