#EXTM3U
{{# EXT-X-INDEPENDENT-SEGMENTS }}
#EXT-X-INDEPENDENT-SEGMENTS
{{/ EXT-X-INDEPENDENT-SEGMENTS }}
{{# EXT-X-START: }}
#EXT-X-START:{{{ . }}}
{{/ EXT-X-START: }}
{{# EXT-X-SESSION-KEY: }}
#EXT-X-SESSION-KEY:{{{ . }}}
{{/ EXT-X-SESSION-KEY: }}
{{# EXT-X-MEDIA: }}
#EXT-X-MEDIA:{{{ . }}}
{{/ EXT-X-MEDIA: }}
{{# EXT-X-STREAM-INF: }}
{{{ KEY }}}{{{ ATTRIBUTE }}}
{{/ EXT-X-STREAM-INF: }}
{{# EXT-X-SESSION-DATA: }}
#EXT-X-SESSION-DATA:{{{ . }}}
{{/ EXT-X-SESSION-DATA: }}
