#EXTM3U
{{# EXT-X-VERSION: }}
#EXT-X-VERSION:{{{ EXT-X-VERSION: }}}
{{/ EXT-X-VERSION: }}
{{# EXT-X-TARGETDURATION: }}
#EXT-X-TARGETDURATION:{{{ EXT-X-TARGETDURATION: }}}
{{/ EXT-X-TARGETDURATION: }}
{{# EXT-X-MEDIA-SEQUENCE: }}
#EXT-X-MEDIA-SEQUENCE:{{{ EXT-X-MEDIA-SEQUENCE: }}}
{{/ EXT-X-MEDIA-SEQUENCE: }}
{{# EXT-X-DISCONTINUITY-SEQUENCE: }}
#EXT-X-DISCONTINUITY-SEQUENCE:{{{ EXT-X-DISCONTINUITY-SEQUENCE: }}}
{{/ EXT-X-DISCONTINUITY-SEQUENCE: }}
{{# EXT-X-PLAYLIST-TYPE: }}
#EXT-X-PLAYLIST-TYPE:{{{ EXT-X-PLAYLIST-TYPE: }}}
{{/ EXT-X-PLAYLIST-TYPE: }}
{{# EXT-X-I-FRAMES-ONLY }}
#EXT-X-I-FRAMES-ONLY
{{/ EXT-X-I-FRAMES-ONLY }}
{{# EXT-X-INDEPENDENT_SEGMENT }}
#EXT-X-INDEPENDENT_SEGMENT
{{/ EXT-X-INDEPENDENT_SEGMENT }}
{{# EXT-X-START: }}
#EXT-X-START:{{ EXT-X-START: }}
{{/ EXT-X-START: }}
{{# EXT-X-DATERANGE: }}{{! ---loop--- }}
#EXT-X-DATERANGE:{{{ . }}}
{{/ EXT-X-DATERANGE: }}{{! ---loop end--- }}

{{# EXTINF: }}{{! ---loop--- }}
{{# EXT-X-DISCONTINUITY }}
#EXT-X-DISCONTINUITY
{{/ EXT-X-DISCONTINUITY }}
{{# EXT-X-BYTERANGE: }}
#EXT-X-BYTERANGE:{{ EXT-X-BYTERANGE: }}
{{/ EXT-X-BYTERANGE: }}
{{# EXT-X-KEY: }}
#EXT-X-KEY:{{ EXT-X-KEY: }}
{{/ EXT-X-KEY: }}
{{# EXT-X-MAP: }}
#EXT-X-MAP:{{ EXT-X-MAP: }}
{{/ EXT-X-MAP: }}
{{# EXT-X-PROGRAM-DATE-TIME }}
#EXT-X-PROGRAM-DATE-TIME:{{ EXT-X-PROGRAM-DATE-TIME }}
{{/ EXT-X-PROGRAM-DATE-TIME }}
#EXTINF:{{DURATION}},{{TITLE}}
{{URL}}

{{/ EXTINF: }}{{! ---loop end--- }}
{{# EXT-X-ENDLIST }}
#EXT-X-ENDLIST
{{/ EXT-X-ENDLIST }}
