#EXTM3U
{{# EXT-X-VERSION: }}
#EXT-X-VERSION:{{ EXT-X-VERSION: }}
{{/ EXT-X-VERSION }}
{{# EXT-X-TARGETDURATION: }}
#EXT-X-TARGETDURATION:{{ EXT-X-TARGET-DURATION: }}
{{/ EXT-X-TARGETDURATION: }}
{{# EXT-X-MEDIA-SEQUENCE: }}
#EXT-X-MEDIA-SEQUENCE:{{ EXT-X-MEDIA-SEQUENCE }}
{{/ EXT-X-MEDIA-SEQUENCE: }}

{{# EXTINF }}
{{# DISCONTINUITY }}#EXT-X-DISCONTINUITY
#EXTINF:{{DURATION}},{{TITLE}}
{{URL}}
{{/ EXTINF }}
